#exlinks-overlay
	#exlinks-options.post.reply
			#exlinks-options-nav(style="text-align:left;")
					div(style="float:right;")
						a#exlinks-options-changelog(href="#{changelog}").
							Changelog
						a#exlinks-options-issues(href="#{issues}").
							Issues
						a#exlinks-options-save.
							Save Settings
						a#exlinks-options-cancel.
							Cancel

